.buttonCell {
  display: flex;
  align-items: center;
  margin: 10px;
}

.buttonCell .btnIcon {
  appearance: none;
  display: inline-block;
  box-shadow: 0 0 0 4px transparent, 0 1px 2px 0 #0c111d11;
  outline: none;
  background-color: transparent;
  color: var(--color-fg-primary, #101828);
  border: none;
  cursor: pointer;
}

.editableSelect {
  height: 20px;
  background-color: transparent;
  border: none;
  margin: 10px;
}

.removeBtn , .viewBtn {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.removeBtn img {
  width: 20px;
}
.viewBtn img {
  width: 20px;
}